<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col">
            <form method="post" th:action="@{/signup}" th:object="${signupAccount}">
                <div class="form-floating mb-3">
                    <input id="inputUsername" placeholder="p" type="text" th:field="*{username}"
                           class="form-control"
                           th:classappend="${!#fields.hasErrors('username') && formModified}? 'is-valid'"
                           th:errorclass="is-invalid">
                    <label for="inputUsername" th:text="#{username}"></label>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}">
                        <p th:each="err : ${#fields.errors('username')}" th:text="${err}"></p>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input id="inputEmail" placeholder="p" type="email" th:field="*{email}"
                           class="form-control"
                           th:classappend="${!#fields.hasErrors('email') && formModified}? 'is-valid'"
                           th:errorclass="is-invalid">
                    <label for="inputEmail" th:text="#{email}"></label>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                        <p th:each="err : ${#fields.errors('email')}" th:text="${err}"></p>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input id="inputPassword" placeholder="p" type="password" th:field="*{password}"
                           class="form-control" th:errorclass="is-invalid">
                    <label for="inputPassword" th:text="#{password}"></label>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}">
                        <p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input id="inputConfirmPassword" placeholder="p" type="password" th:field="*{confirmPassword}"
                           class="form-control" th:errorclass="is-invalid">
                    <label for="inputConfirmPassword" th:text="#{password.confirm}"></label>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}">
                        <p th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></p>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" th:text="#{btn.create-account}"></button>
            </form>
        </div>
    </div>
    <div>
        <script src="https://unpkg.com/@vkid/sdk@<3.0.0/dist-sdk/umd/index.js"></script>
        <script type="text/javascript">
            if ('VKIDSDK' in window) {
              const VKID = window.VKIDSDK;

              VKID.Config.init({
                app: 53673397,
                redirectUrl: 'https://937b1fc19272be.lhr.life/login/oauth/code/vk',
                responseMode: VKID.ConfigResponseMode.Callback,
                source: VKID.ConfigSource.LOWCODE,
                scope: '', // Заполните нужными доступами по необходимости
              });

              const oAuth = new VKID.OAuthList();

              oAuth.render({
                container: document.currentScript.parentElement,
                oauthList: [
                  'vkid'
                ]
              })
              .on(VKID.WidgetEvents.ERROR, vkidOnError)
              .on(VKID.OAuthListInternalEvents.LOGIN_SUCCESS, function (payload) {
                const code = payload.code;
                const deviceId = payload.device_id;

                VKID.Auth.exchangeCode(code, deviceId)
                  .then(vkidOnSuccess)
                  .catch(vkidOnError);
              });

              function vkidOnSuccess(data) {
                // Обработка полученного результата
              }

              function vkidOnError(error) {
                // Обработка ошибки
              }
            }
        </script>
    </div>
</div>
</html>
